@media screen and (max-width:1200px){
.container {width: 95%;}
.prayer_box li {width:30%;}
}

@media screen and (max-width:960px){
.prayer_box li {width:48%;}
.prayer_counter, .share_facebook_btn {float: none; text-align: center; margin: 20px 0; line-height: normal;}
.top_banner_home {padding: 20px 0;}
}

@media screen and (max-width:767px){ 
.prayer_box li {width:100%; margin: 8px 0;}
.content_left, .content_right {float: none; width: 100%;}
.content_right {margin:0 auto; width: 350px; max-width: 100%; }
.user_pic {width: 150px; margin-top: -50px; margin-left: 20px; }
}

@media screen and (max-width:640px){ 
.form_box {width: 95%; padding: 30px;}
.login_register_logo {width: 100%;}
.left_link, .right_link {padding:0; text-align: center; float: none; margin: 10px 0;}

}

@media screen and (max-width:480px){ 
.logo {width: 100%; text-align: center;}
.navigation {width: 100%; text-align: center;}
.btn_top, .btmnavigation {float: none;}
.btn_top li, .btmnavigation li {float: none; display: inline-block;}
.prayer_box {margin: 0;}
.ftr_left, .ftr_right {float: none; text-align: center; margin: 5px 0;}
.ftr_right li {float: none; display: inline-block;}
.btn_profile a {width: 100%; text-align: center; margin: 10px 0;}
.user_pic{margin-left: 10px;}
.user_disc {padding-left: 10px;}
.login_register_logo img {width: 90%;}
}

